<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>도키오 추가</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> 도키오 추가</h1>

    <!-- LOGIN FORM -->
    <form action="/dokio/add_dokio" method="post">
        <div class="form-group">
            <label>이름</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="form-group">
            <label>카테고리</label>
            <select name="category" class="form-control">
                <option value="호텔">호텔</option>
                <option value="병원">병원</option>
                <option value="카페">카페</option>
            </select>
        </div>
        <div class="form-group">
            <label>주소</label>
            <input type="text" class="form-control" name="address">
        </div>
        <div class="form-group">
            <label>소개글</label>
            <input type="text" class="form-control" name="content">
        </div>
        <div class="form-group">
            <label>가격</label>
            <input type="text" class="form-control" name="content">
        </div>
        <div class="form-group">
            <label>이미지</label>
            <input type="file" class="form-control" name="dokiofile">
        </div>

        <button type="submit" class="btn btn-info btn-lg btn-block">도키오추가</button>
        <button type="reset" class="btn btn-warning btn-lg btn-block">취소</button>
    </form>

    <hr>

</div>

</div>
</body>
</html>