<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' type='text/css' href='/stylesheets/fullcalendar.css' />
    <script src="https://use.fontawesome.com/1267aa6c1b.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type='text/javascript' src='/javascripts/jquery.js'></script>
    <script type='text/javascript' src='/javascripts/jquery-ui-custom.js'></script>
    <script type='text/javascript' src='/javascripts/fullcalendar.min.js'></script>

    <script type='text/javascript'>

      $(document).ready(function() {

        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        $('#calendar').fullCalendar({
          editable: true,
          events: [
            {
              title: '꼴통이 주사',
              start: new Date(y, m, 1)
            },
            {
              title: '병원',
              start: new Date(y, m, d-5),
              end: new Date(y, m, d-2)
            },
            {
              id: 999,
              title: '예방접종',
              start: new Date(y, m, d-3, 16, 0),
              allDay: false
            },
            {
              id: 999,
              title: '예방접종',
              start: new Date(y, m, d+4, 16, 0),
              allDay: false
            },
            {
              title: '예방접종',
              start: new Date(y, m, d, 10, 30),
              allDay: false
            },
            {
              title: '꼴통이랑 점심',
              start: new Date(y, m, d, 12, 0),
              end: new Date(y, m, d, 14, 0),
              allDay: false
            },
            {
              title: '꼴통이 생일파티',
              start: new Date(y, m, d+1, 19, 0),
              end: new Date(y, m, d+1, 22, 30),
              allDay: false
            }
          ]
        });

      });

    </script>
    <style type='text/css'>

      body {
        margin-top: 40px;
        text-align: center;
        font-size: 14px;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        }

      #calendar {
        width: 900px;
        margin: 0 auto;
        }

    </style>
  </head>

  <body>
        <div class="navbar navbar-custom navbar-fixed-top">
            <div class="navbar-header">
                <a href="" class="navbar-brand">Dokio</a>
            </div>
            <div class="collapse navbar-collapse">
                    <div class="pull-right">
                        <% if (login) {%>
                            <a id="logout" href="/users/logout" class="navbar-brand">로그아웃</a>
                        <% } else { %>
                            <a id="login" href="/users/login" class="navbar-brand">로그인</a>
                        <% } %>
                    </div>
            </div>
        </div>

        <div id="side_bar" class="row-offcanvas row-offcanvas-left">
            <div id="sidebar" class="">
                  <div class="col-md-12">
                    <h3></h3>
                    <div id="my_info">
                    <% if (login) {%>
                        <% if (user.myprof_img) { %>
                            <img src="<%= user.myprof_img %>" class="img-circle" width="70" height="70">
                        <% } else { %>
                            <img src="https://s3.ap-northeast-2.amazonaws.com/dokio2/default_user.png" class="img-circle" width="70" height="70">
                        <% } %>
                        <br><br>
                        <p><b><%= user.name %></b>님 환영합니다.</p>
                    <% } else { %>
                        <img src="https://s3.ap-northeast-2.amazonaws.com/dokio2/default_user.png" class="img-circle" width="70" height="70">
                        <br><br>
                        <p><b><a href="#">로그인</a></b>이 필요합니다.</p>
                    <% } %>
                    </div>
                    <ul class="nav nav-pills nav-stacked">
                    <% if (login) {%>
                      <li><a href="/users/<%= user._id %>">마이페이지</a></li>
                    <% } %>
                      <li><a href="/users/memo">메모</a></li>
                      <li><a href="#"></a></li>
                    </ul>
                  </div>
            </div>
            <div id="main">
                  <br>
                  <div id="wrapper" style="text-align: center;" class="col-md-12">
                        <br>
                        <a type="button" class="btn btn-default" href="/users/memo/write">메모 작성</a>
                        <div id='calendar'></div>

                  </div>
              </div>
        </div>
  </body>
</html>

